.env

target

lavalink/plugins
lavalink/Lavalink.jar
lavalink/version.txt

# Devenv
.devenv*
devenv.local.nix

# direnv
.direnv

# pre-commit
.pre-commit-config.yaml

# Docker compose
compose.yaml

# Default Docker volume mounts
data

